.layout-container {
  display: flex;
}

.layout-content {
  margin-left: 240px; /* Push content to the right */
  padding: 24px;
  width: calc(100% - 240px);
  background: #f5f7fb;
  min-height: 100vh;
}
