.sidebar {
  width: 240px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 18px 0;
}

.sidebar-menu a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-menu a:hover {
  color: #fff;
  font-weight: bold;
}
