.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #091540, #021027);
  color: white;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Tamil Title */
.tamil-header {
  position: absolute;
  top: 40px;
  font-size: 26px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.3);
}

/* Login Card */
.login-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 18px;
  width: 380px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

/* Eye Icon */
.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

/* Login Button */
.login-box button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  background: #0a74ff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.login-box button:hover {
  background: #0563d6;
}
.error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff4d4d;
  padding: 15px 25px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 9999;
  animation: fadeInOut 0.3s ease;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
